# Biodiversity in U.S. National Parks

## North American Birds of Prey

In [74]:
# Importing the necessary modules
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
import numpy as np

## Loading in the data

# `parks.csv`

In [75]:
parks_data = pd.read_csv("parks.csv")
print(f"Columns: {parks_data.columns.tolist()}\n")
print(f"(Rows, Columns): {parks_data.shape}")
parks_data.head()

Columns: ['Park Code', 'Park Name', 'State', 'Acres', 'Latitude', 'Longitude']

(Rows, Columns): (56, 6)

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [76]:
parks_data.columns = [col.lower().replace(" ", "_") for col in parks_data.columns]

#### Creating a list of the Southwestern states.

Arizona, California, Colorado, Nevada, New Mexico, Oklahoma, Texas, Utah

In [77]:
sw_states_list = ["AZ", "CA", "CO", "NV", "NM", "OK", "TX", "UT"]

In [78]:
sw_data = pd.DataFrame(columns=parks_data.columns)
# iterate through the list of states
for state in sw_states_list:
    # is state in column, 'State'?
    match = parks_data[parks_data['state'] == state]
    # Append matching states
    sw_data = pd.concat([sw_data, match])

sw_data.head()

,park_code,park_name,state,acres,latitude,longitude
22,GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14
42,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78
46,SAGU,Saguaro National Park,AZ,91440,32.25,-110.50
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90

In [79]:
sw_parks_list = sw_data['park_name'].unique().tolist()
print(f"We have {len(sw_parks_list)} parks: \n\n{sw_parks_list}")

We have 23 parks:

['Grand Canyon National Park', 'Petrified Forest National Park', 'Saguaro National Park', 'Channel Islands National Park', 'Joshua Tree National Park', 'Lassen Volcanic National Park', 'Pinnacles National Park', 'Redwood National Park', 'Sequoia and Kings Canyon National Parks', 'Yosemite National Park', 'Black Canyon of the Gunnison National Park', 'Great Sand Dunes National Park and Preserve', 'Mesa Verde National Park', 'Rocky Mountain National Park', 'Great Basin National Park', 'Carlsbad Caverns National Park', 'Big Bend National Park', 'Guadalupe Mountains National Park', 'Arches National Park', 'Bryce Canyon National Park', 'Canyonlands National Park', 'Capitol Reef National Park', 'Zion National Park']

Useful to save a `sw_parks_list` variable for later

Create seperate Dataframes for each state $\in$ `sw_states_list`

In [80]:
d = {}
for state in sw_states_list:
    d[state] = pd.DataFrame(sw_data[sw_data['state'] == state])

for i in range(0, len(sw_states_list)):
    print(f"\n{sw_states_list[i]}:\nShape: {d[sw_states_list[i]].shape}")

AZ:
Shape: (3, 6)

CA:
Shape: (7, 6)

CO:
Shape: (4, 6)

NV:
Shape: (1, 6)

NM:
Shape: (1, 6)

OK:
Shape: (0, 6)

TX:
Shape: (2, 6)

UT:
Shape: (5, 6)

In [81]:
# We can call DataFrames for each state using below syntax
# California:
d['CA']

,park_code,park_name,state,acres,latitude,longitude
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90
36,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51
43,PINN,Pinnacles National Park,CA,26606,36.48,-121.16
44,REDW,Redwood National Park,CA,112512,41.30,-124.00
47,SEKI,Sequoia and Kings Canyon National Parks,CA,865952,36.43,-118.68
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50

Seven isn't enough...
Probably just keep all the parks. Fuck it!

On a map to get an idea of where these parks are

<img src="Images/California_Coast.png"/>

<img src="Images/Desert.png"/>

<img src="Images/Area_Baja.png"/>

[AZ, CO, NV, UT](https://earth.google.com/web/search/Zion+National+Park,+Utah,+USA/@35.13603563,-108.8328106,1267.20627283a,2369647.23679662d,35y,0h,0t,0r/data=CigiJgokCanCP9QYRUNAEZ9uI2M12UJAGZSefyJpnlvAIQD8Bzs89FvA)
[CA](https://earth.google.com/web/search/Zion+National+Park,+Utah,+USA/@37.45209159,-120.51900674,-23.85042741a,2315631.43578798d,35y,0h,0t,0r/data=CigiJgokCanCP9QYRUNAEZ9uI2M12UJAGZSefyJpnlvAIQD8Bzs89FvA)
[Baja, TX](https://earth.google.com/web/search/Zion+National+Park,+Utah,+USA/@37.45209159,-120.51900674,-23.85042741a,2315631.43578798d,35y,0h,0t,0r/data=CigiJgokCanCP9QYRUNAEZ9uI2M12UJAGZSefyJpnlvAIQD8Bzs89FvA)